@page
@using Microsoft.Extensions.Localization
@using Inventory.Localization
@using Inventory.Web.Pages.Inventory
@model Inventory.Web.Pages.Inventory.IndexModel
@inject IStringLocalizer<InventoryResource> L

@{
}
<h1>Inventory</h1>
<p>@L["SamplePageMessage"]</p>
