@page
@using Microsoft.Extensions.Localization
@using Order.Localization
@using Order.Web.Pages.Order
@model Order.Web.Pages.Order.IndexModel
@inject IStringLocalizer<OrderResource> L

@{
}
<h1>Order</h1>
<p>@L["SamplePageMessage"]</p>
