@page
@using Microsoft.Extensions.Localization
@using PaymentTransactions.Localization
@using PaymentTransactions.Web.Pages.PaymentTransactions
@model PaymentTransactions.Web.Pages.PaymentTransactions.IndexModel
@inject IStringLocalizer<PaymentTransactionsResource> L

@{
}
<h1>PaymentTransactions</h1>
<p>@L["SamplePageMessage"]</p>
