@page
@using Microsoft.Extensions.Localization
@using Management.Localization
@using Management.Web.Pages.Management
@model Management.Web.Pages.Management.IndexModel
@inject IStringLocalizer<ManagementResource> L

@{
}
<h1>Management</h1>
<p>@L["SamplePageMessage"]</p>
