@page
@using Abp.eCommerce.Localization
@using Customer.Permissions
@using Customer.Web.Menus
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout

@inject IStringLocalizer<eCommerceResource> L
@inject IAuthorizationService AuthorizationService
@inject PageLayout PageLayout

@model Customer.Web.Pages.CustomerGroup.IndexModel

@{
    PageLayout.Content.MenuItemName = CustomerMenus.CustomerGroup;
    PageLayout.Content.Title = L["Menu:CustomerGroup"];
}

@section scripts
{
    <abp-script src="/Pages/CustomerGroup/js/Index.js" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Title:CustomerGroup"]</abp-card-title>
            </abp-column>

            @if (await AuthorizationService.IsGrantedAsync(CustomerPermissions.CustomerGroup.Create))
            {
                <abp-column size-md="_6" class="text-end">
                    <a abp-button="Primary" asp-page="/CustomerGroup/Create"><i class="fa-solid fa-plus"></i> @L["AddNew"]</a>
                </abp-column>
            }
        </abp-row>
    </abp-card-header>

    <abp-card-body>
        <abp-table striped-rows="true" id="customerGroupTable"></abp-table>
    </abp-card-body>
</abp-card>
